.header {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header div {
  display: flex;
  gap: 0.5rem;
}

.number {
  padding: 2px 8px;
  background-color: var(--gray-400);
  border-radius: 999px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}

.newTasks, .finishedTasks {
  font-size: 0.875rem;
}

.newTasks {
  color: var(--blue);
}

.finishedTasks {
  color: var(--purple);
}

.mainSection {
  margin-top: 1.5rem;
}
