.wrapper {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper > strong, p {
  color: var(--gray-300);
}