.task {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
  color: var(--gray-100);
  align-items: center;
}

.task + .task {
  margin-top: 0.75rem;
}

/* Let me guess
Problems with this checkbox ? */
.checkbox {
  background-color: transparent;
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--blue);
  border-radius: 8px;
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  cursor: pointer;
}

.checkImg {
  visibility: hidden;
}

.checkbox:hover {
  background-color: rgba(30, 111, 159, 0.2);
  border: 1px solid var(--blue-dark);
}

.checkbox:active {
  background-color: var(--purple-dark);
  border: 0;
}

.checkbox:active > .checkImg {
  visibility: visible;
}

.task > p, del {
  flex: 1;
}

.deleteButton {
  background-color: transparent;
  border: 0;
  color: var(--gray-300);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: var(--gray-400);
  color: var(--danger);
  border-radius: 4px;
}

/* TODO E depois que o botão estiver pressionado ?
Vai ter que fazer algumas alterações no .task */
